.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box {
    width: 5.8%;
    height: 50px;
    border: 1px solid black;
}

/* .box:hover {
    background-color: black;
} */